<ion-view title="Details" id="page8">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="B.S. Information Systems, Carnegie Mellon">
                <input type="text" placeholder="Title">
            </label>
        </form>
        <div>
            <img src="img/FIF1lcFgSJa2qu1J5L99_diploma_carnegie_mellon.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form class="list">
            <div class="spacer" style="width: 300px; height: 20px;"></div>
            <label class="item item-select">
                <span class="input-label"></span>
                <select>
                    <option>Diploma</option>
                    <option>Resume</option>
                </select>
            </label>
        </form>
        <a ui-sref="menu.diplomas" id="details-button32" style="border-radius:0px 0px 0px 0px;" class="button button-balanced  button-block">Save</a>
    </ion-content>
</ion-view>