<ion-view title="Documents" id="page5">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Diplomas</div>
            <div class="item item-body">
                <a ui-sref="menu.diplomas" id="documents-button20" style="border-radius:0px 0px 0px 0px;" class="button button-positive ">View</a>
                <button id="documents-button21" style="border-radius:0px 0px 0px 0px;" class="button button-balanced  icon ion-ios-upload-outline"></button>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Resume</div>
            <div class="item item-body">
                <a ui-sref="menu.diplomas" id="documents-button18" style="border-radius:0px 0px 0px 0px;" class="button button-positive ">View</a>
                <button id="documents-button19" style="border-radius:0px 0px 0px 0px;" class="button button-balanced  icon ion-ios-upload-outline"></button>
            </div>
        </div>
    </ion-content>
</ion-view>