<ion-view title="New Document" id="documentDetail" ng-controller="documentDetailsCtrl">

  <!-- ng-if="$state.$current.parent == 'menu.documents'"  -->
    <ion-content class="has-header">
        <div class="linkcard" >
          <label class="item item-select">
              <select style="float: left;" id ="documentType" class="doctype_dropdown">
                  <option disabled selected>Select a Document Type</option>
                  <option>Diploma</option>
                  <option >Passport</option>
                  <option>Resume</option>
                  <option>US Visa</option>
                  <option>Immigration Paperwork</option>
                  <option>Other</option>
              </select>
<!--               <select style="float: left;" id ="documentType" class="doctype_dropdown" ng-model="TypeSelected" ng-options="item as item.label for item in items track by item.id"><option value="" disabled selected>Select a Document Type</option></select> -->
          </label>

          <form class="list">
              <div class="attachment-holder">
                  <div class="row row-center button-upload">
                    <div class="col col-50">
                      <button class="button button-light button-upload-btn" ng-click="getOCR()">
                        <i class="icon icon ion-ios-camera"></i><br>
                        <p class="description">Scan Document</p>
                      </button>
                    </div>
                    <div class="col col-50">
                      <button class="button button-light button-upload-btn" ng-click="loginWithBox()">
                        <i class="icon icon ion-ios-box"></i><br>
                        <p class="description">Upload to Box</p>
                      </button>
                    </div>
                  </div>
                  <div class="attachment-photo" ng-repeat='photo in document.attachment track by $index | limitTo: 4'>
                      <img src="{{photo.FilePath}}" ng-if='photo.FilePath' alt="" ng-click='viewPhoto($index)' />
                  </div>
<!--                   <div class="attachment-photo">
                    <button class="button button-light button-upload-btn" ng-click="getPhoto()">
                      <i class="icon icon ion-ios-camera"></i><br>
                      <p class="description">Scan Document</p>
                    </button>
                  </div> -->
              </div>
              <br>
              <div id="pass_inputs">

                <label class="item item-input">
                  <span class="input-label">Passport No</span>
                  <input type="text" ng-model="documentDetail.passportNum" value="568333268">
                </label>
                <label class="item item-input">
                  <span class="input-label">Surname</span>
                  <input type="text" ng-model="documentDetail.surname" value="Smith">
                </label>
                <label class="item item-input">
                  <span class="input-label">Given Name(s)</span>
                  <input type="text" ng-model="documentDetail.givenName" value="John Doe">
                </label>
                <label class="item item-input">
                  <span class="input-label">Nationality</span>
                  <input type="text" ng-model="documentDetail.nationality" value="United States of America">
                </label>
                <label class="item item-input">
                  <span class="input-label">Date of Birth</span>
                  <input type="text" ng-model="documentDetail.birthDate" value="17 Jul 1975">
                </label>
                <label class="item item-input">
                  <span class="input-label">Sex</span>
                  <input type="text" ng-model="documentDetail.sex" value="M">
                </label>
<!--                 <label class="item item-input">
                  <span class="input-label">Date of Issue</span>
                  <input type="text" value="21 May 2009">
                </label> -->
                <label class="item item-input">
                  <span class="input-label">Authority</span>
                  <input type="text" ng-model="documentDetail.authority" value="United States Department of State">
                </label>
                <label class="item item-input">
                  <span class="input-label">Date of Expiration</span>
                  <input type="text" ng-model="documentDetail.expiryDate" value="20 May 2019">
                </label>
              </div>

<!--               <textarea id="form_textarea" placeholder="OCR String will be populated here." rows="10"></textarea> -->
          </form>
          <a style="border-radius:0px 0px 0px 0px;" class="button" ng-click="cancel()" ng-show="documentDetail.new">Cancel</a>

          <a style="border-radius:0px 0px 0px 0px;" class="button" ng-click="save()" ng-show="documentDetail.new">Save</a>
      </div>
    </ion-content>
</ion-view>
