<ion-view title="Documents" id="documents" ng-controller="documentsCtrl">
    <div class="tabs-striped tabs-top">
      <!-- <div class="tabs">
        <a class="tab-item active" id="showall"><p class="description">All</p></a>
        <a class="tab-item" href="#"><p class="description">To Upload (3)</p></a>
        <a class="tab-item" href="#"><p class="description">Uploaded (2)</p></a>
      </div> -->
    </div>
    <ion-content padding="false" class="has-header">
      <div class="linkcard">

        <a ui-sref="menu.documentDetails" class="button button-full">
          <div class="row row-center">
            <div class="col col-20">
              <p class="percentage" >
                <i class="icon icon ion-plus-round"></i>
              </p>
            </div>
            <div class="col col-70">
              <h2 class="title">Add a New Document</h2>
              <p class="description">{{document.description}}</p>
            </div>
            <!-- <div class="col col-10">
              <i class="icon icon ion-chevron-right"></i>
            </div> -->
          </div>
        </a>
      </div>
      <!-- <div class="button-upload">
        <button class="button button-light" ng-click="getCameraRoll()">
          <i class="icon icon ion-ios-upload"></i><br>
          Upload Document
        </button>
        <button class="button button-light" ng-click="getPhoto()">
          <i class="icon icon ion-ios-camera"></i><br>
          Scan Document
        </button>
      </div> -->
        <p class="description document-header">To Upload (3)</p>
        <div class="linkcard" id="toupload" ng-repeat="document in toupload_documents">

          <a ui-sref="menu.documentCategories" class="button button-full">
            <div class="row row-center">
              <div class="col col-20">
                <p class="percentage" >
                  <!-- <i class="icon icon ion-minus-round not-started"></i> -->
                  0
                </p>
              </div>
              <div class="col col-70">
                <h2 class="title">{{document.title}}</h2>
                <p class="description">{{document.projects}}</p>
              </div>
              <div class="col col-10">
                <i class="icon icon ion-chevron-right"></i>
              </div>
            </div>
          </a>
        </div>
        <p class="description document-header">Uploaded (2)</p>
        <div class="linkcard uploaded" ng-repeat="document in uploaded_documents">
          <a ui-sref="menu.documentCategories" class="button button-full">
            <div class="row row-center">
              <div class="col col-20">
                <p class="percentage" >
                  5
                </p>
              </div>
              <div class="col col-70">
                <h2 class="title">{{document.title}}</h2>
                <p class="description">{{document.projects}}</p>
              </div>
              <div class="col col-10">
                <i class="icon icon ion-chevron-right"></i>
              </div>
            </div>
          </a>
        </div>
      </div>
    </ion-content>
</ion-view>
