<ion-view title="Diplomas" id="page7">
    <ion-content padding="true" class="has-header">
        <div id="diplomas-markdown7" style="color:#000000;">
            <p>Some text explaining some business rules</p>
        </div>
        <div class="list card">
            <div class="item item-divider">B.S. Information Systems, Carnegie Mellon</div>
            <div class="item item-body">
                <a ui-sref="menu.documentDetails" id="diplomas-button28" style="border-radius:0px 0px 0px 0px;" class="button button-positive ">View</a>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Masters Business Administration, UC Berkeley</div>
            <div class="item item-body">
                <a ui-sref="menu.documentDetails" id="diplomas-button30" style="border-radius:0px 0px 0px 0px;" class="button button-positive ">View</a>
            </div>
        </div>
    </ion-content>
</ion-view>
