<ion-view title="Passports" id="documentCategory">
  <ion-nav-buttons side="secondary" >
    <button id="done_button" class="button button-clear" ui-sref="menu.documents">Done</button>
  </ion-nav-buttons>
    <ion-content padding="false" class="has-header">
      <p class="description">Copy of passport biographic and signature pages</p>
      <div class="linkcard">
        <a ui-sref="menu.documentDetails" class="button button-full">
          <div class="row row-center">
            <div class="col col-20">
              <p class="percentage">
                <i class="icon icon ion-clipboard"></i>
              </p>
            </div>
            <div class="col col-70">
              <h2 class="title">US Passport</h2>
              <!-- <p class="description">USA</p> -->
            </div>
            <div class="col col-10">
              <i class="icon icon ion-chevron-right"></i>
            </div>
          </div>
        </a>
      </div>
      <!-- <div class="linkcard">
        <a ui-sref="menu.documentDetails" class="button button-full">
          <div class="row row-center">
            <div class="col col-20">
              <p class="percentage">
                <i class="icon icon ion-clipboard"></i>
              </p>
            </div>
            <div class="col col-70">
              <h2 class="title">Canada Passport</h2>
            </div>
            <div class="col col-10">
              <i class="icon icon ion-chevron-right"></i>
            </div>
          </div>
        </a>
      </div> -->
    </ion-content>
</ion-view>
