<ion-view title="Details" id="documentDetail">
    <ion-content class="has-header">
        <div class="linkcard">
          <div>
              <img src="img/FIF1lcFgSJa2qu1J5L99_diploma_carnegie_mellon.jpg">
          </div>
          <form class="list">
              <label class="item item-input"><input type="text" value="B.S. Information Systems"></label>
              <label class="item item-input"><input type="text" value="Carnegie Mellon"></label>
              <label class="item item-select">
                  <span class="input-label"></span>
                  <select>
                      <option>Diploma</option>
                      <option>Resume</option>
                  </select>
              </label>
          </form>
          <a ui-sref="menu.documentCategories" style="border-radius:0px 0px 0px 0px;" class="button button-balanced button-block">Save</a>
      </div>
    </ion-content>
</ion-view>
