<ion-view title="Details" id="documentDetail" ng-controller="documentDetailsCtrl">
    <ion-content class="has-header">
        <div class="linkcard">
<!--           <div>
              <img src="img/FIF1lcFgSJa2qu1J5L99_diploma_carnegie_mellon.jpg">
          </div> -->
          <div class="attachment-holder" ng-if='document.attachment[0]'>
              <div class="attachment-photo" ng-repeat='photo in document.attachment track by $index | limitTo: 4'>
                  <img src="{{photo.FilePath}}" ng-if='photo.FilePath' alt="" ng-click='viewPhoto($index)' />
              </div>
          </div>
          <form class="list">
              <label class="item item-input"><input type="text" value="B.S. Information Systems"></label>
              <label class="item item-input"><input type="text" value="Carnegie Mellon"></label>
              <label class="item item-select">
                  <span class="input-label"></span>
                  <select>
                      <option>Diploma</option>
                      <option>Resume</option>
                  </select>
              </label>
          </form>
          <a ui-sref="menu.documentCategories" style="border-radius:0px 0px 0px 0px;" class="button button-balanced button-block">Save</a>
      </div>
    </ion-content>
</ion-view>
