<ion-view title="Diplomas" id="documentCategory">
    <ion-content padding="true" class="has-header">
      <p class="description">Copies of all degrees, diplomas, and transcripts, if applicable</p>
      <div class="linkcard">
        <a ui-sref="menu.documentDetails" class="button button-full">
          <div class="row row-center">
            <div class="col col-20">
              <p class="percentage">
                <i class="icon icon ion-clipboard"></i>
              </p>
            </div>
            <div class="col col-80">
              <h2 class="title">B.S. Information Systems</h2>
              <p class="description">Carnegie Mellon University</p>
            </div>
          </div>
        </a>
      </div>
      <div class="linkcard">
        <a ui-sref="menu.documentDetails" class="button button-full">
          <div class="row row-center">
            <div class="col col-20">
              <p class="percentage">
                <i class="icon icon ion-clipboard"></i>
              </p>
            </div>
            <div class="col col-80">
              <h2 class="title">Masters in Business Administration</h2>
              <p class="description">Tepper Business School, Carnegie Mellon University</p>
            </div>
          </div>
        </a>
      </div>
    </ion-content>
</ion-view>
