<ion-view title="Documents" id="documents">
    <div class="tabs-striped tabs-top">
      <div class="tabs">
        <a class="tab-item active" href="#"><p class="description">All</p></a>
        <a class="tab-item" href="#"><p class="description">Not Uploaded</p></a>
        <a class="tab-item" href="#"><p class="description">Uploaded</p></a>
      </div>
    </div>
    <ion-content padding="true" class="has-header">
        <div class="linkcard" ng-repeat="document in documents">
          <div class="progressbar">
            <span class="progress completed" style="width: 100%"></span>
          </div>
          <a ui-sref="menu.documentCategories" class="button button-full">
            <div class="row row-center">
              <!-- <div class="col col-20">
                <p class="percentage">
                  <i class="icon icon ion-android-upload"></i>
                </p>
              </div> -->
              <div class="col col-80">
                <h2 class="title">{{document.title}}</h2>
                <p class="description">{{document.description}}</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </ion-content>
</ion-view>
