<ion-view view-title="Box Drive" ng-controller="DriveCtrl">
  <ion-nav-buttons side="secondary" >
    <button id="done_button" class="button button-clear" ng-click="uploadFiles()">Upload Files</button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <div ng-repeat="file in files">
        <ion-item class="item item-button-right" >
          {{file.name}}
          <button class="button button-positive" ng-click="downloadFile()">
              <i class="icon ion-ios-download"></i>
          </button>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
