<ion-view title="Log in" id="page9">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <input type="text" placeholder="Username">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="menu.myCases" id="logIn-button33" class="button button-stable  button-block">Log in</a>
        </form>
    </ion-content>
</ion-view>