<ion-view  id="login" ng-controller="logInCtrl">
  <ion-content padding="true" class="has-header">
    <!-- <ion-content padding="true" class="has-header" style="background-image: url('img/pass.png'); background-size: auto 100%; background-repeat: no-repeat;"> -->
      <div class="login_contain">
        <!-- <h2 class="title">IMS Assist</h2> -->
        <img src="img/icon2.png" alt="" />
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <input type="text" ng-model="login.username" placeholder="Username">
                </label>
                <label class="item item-input">
                    <input type="password" ng-model="login.password" placeholder="Password">
                </label>
            </ion-list>
            <button type="submit" id="logIn-button33" class="button button-block" ng-click="login()">Log in</button>
            <!-- <br>
            <p class="description">BAL Assistant Login: <br>Baluser/pass123</p>
            <p class="description">Employee Login: <br>Employee/pass123</p> -->
        </form>
      </div>
    </ion-content>
</ion-view>
