<ion-view title="My Cases" id="page1" style="background-color:#FFFFFF;">
    <ion-content padding="true" class="has-header">
        <div style="margin-right:-20px;">
            <a ui-sref="menu.h1B" id="myCases-button1" style="left:-10px;border-radius:0px 0px 0px 0px;" class="button button-positive button-large button-full">H1-B</a>
        </div>
        <div style="margin-right:-20px;">
            <a ui-sref="menu.h1B" id="myCases-button2" style="left:-10px;border-radius:0px 0px 0px 0px;" class="button button-positive button-large button-full">Angola Business Visa</a>
        </div>
        <div style="margin-right:-20px;">
            <a ui-sref="menu.h1B" id="myCases-button3" style="left:-10px;border-radius:0px 0px 0px 0px;" class="button button-positive button-large button-full">China Business Visa</a>
        </div>
        <div style="margin-right:-20px;">
            <a ui-sref="menu.h1B" id="myCases-button4" style="left:-10px;color:#DBDBDB;border-radius:0px 0px 0px 0px;" class="button button-stable button-large button-full">China Business Visa</a>
        </div>
        <div style="margin-right:-20px;">
            <a ui-sref="menu.h1B" id="myCases-button7" style="left:-10px;color:#DBDBDB;border-radius:0px 0px 0px 0px;" class="button button-stable button-large button-full">China Business Visa</a>
        </div>
        <div style="margin-right:-20px;">
            <a ui-sref="menu.h1B" id="myCases-button8" style="left:-10px;color:#DBDBDB;border-radius:0px 0px 0px 0px;" class="button button-stable button-large button-full">OPT Stem</a>
        </div>
    </ion-content>
</ion-view>