<ion-view title="Local Notification Demo" id="notificationPage" ng-controller="NotificationCtrl">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <div class="spacer" style="height: 40px;"></div>
            <button type="button" id="caseInitiated-button" class="button button-stable  button-block" ng-click="caseInitiated()">Case initiated</button>
            <button type="button" id="documentReceived-button" class="button button-stable  button-block" ng-click="documentReceived()">Document(s) received</button>
            <button type="button" id="statusChanged-button" class="button button-stable  button-block" ng-click="statusChanged()">Application status changed</button>
        </form>
    </ion-content>
</ion-view>