<ion-view title="H1-B" id="projectDetails">
    <ion-content padding="true" class="has-header">
        <div class="linkcard projectStatus">
          <div class="progressbar">
            <span class="progress" style="width: 60%">
            </span>
          </div>
          <a ui-sref="menu.status" class="button button-full">
            <div class="row row-center">
              <div class="col col-20">
                <p class="percentage">60%</p>
              </div>
              <div class="col col-80">
                <h2 class="title">Application Status</h2>
                <p class="description">In Progress</p>
                <p class="description">Preparing Application</p>
              </div>
            </div>
          </a>
        </div>
        <div class="linkcard projectDocuments">
          <div class="progressbar">
            <span class="progress" style="width: 70%">
            </span>
          </div>
          <a ui-sref="menu.documents" class="button button-full">
            <div class="row row-center">
              <div class="col col-20">
                <p class="percentage">7/10</p>
              </div>
              <div class="col col-80">
                <h2 class="title">Upload Documents</h2>
                <p class="description">3 documents left to upload</p>
              </div>
            </div>
          </a>
        </div>
        <div class="linkcard projectContact">
            <a href="mailto:" class="button button-full">
              <div class="row row-center">
                <div class="col col-20">
                  <p class="percentage"><i class = "icon icon ion-android-mail"></i></p>
                </div>
                <div class="col col-80">
                  <h2 class="title">Contact</h2>
                  <p class="description">Email the BAL Assistant managing your case</p>
                </div>
              </div>
            </a>
        </div>
    </ion-content>
</ion-view>
