<ion-view title="My Applications" id="projects" ng-controller="projectsCtrl">
    <ion-content padding="true" class="has-header">
        <div class="linkcard" ng-repeat="proj in active_projs">
            <div class="progressbar">
              <span class="progress" style="width: {{proj.progress}}%">
              </span>
            </div>
            <a ui-sref="menu.projectDetails" class="button button-large button-full">
              <div class="row row-center">
                <!-- <div class="col col-20">
                  <p class="percentage" ng-switch="proj.type">
                    <i ng-switch-when="Not Visa" class="icon icon ion-clipboard"></i>
                    <i ng-switch-when="Visa" class="icon icon ion-earth"></i>
                  </p>
                </div> -->
                <div class="col col-66">
                  <!-- <p class="description">{{ proj.initiation_date }}</p> -->

                  <h2 class="title">{{ proj.title }}</h2>
                </div>
                <div class="col col-33">
                  <!-- <h2 class="title">{{ proj.title }}</h2> -->
                  <p class="description">{{ proj.initiation_date }}</p>
                </div>

              </div>
            </a>
            <div class="row row-center tribar">
              <div class="col col-33"><i class="icon icon ion-load-b in-progress"></i><p class="description">In Progress</p></div>
              <div class="col col-33">3/10<p class="description">Documents</p></div>
              <div class="col col-33"><i class="icon icon ion-android-mail"></i><p class="description">Joe Assistant</p></div>
            </div>
        </div>
        <div class="linkcard inactive" ng-repeat="proj in inactive_projs">
            <div class="progressbar">
              <span class="progress" style="width: {{proj.progress}}%">
              </span>
            </div>
            <a ui-sref="menu.projectDetails" class="button button-large button-full">
              <div class="row">
                <div class="col col-20">
                  <p class="percentage" ng-switch="proj.type">
                    <i ng-switch-when="Not Visa" class="icon icon ion-clipboard"></i>
                    <i ng-switch-when="Visa" class="icon icon ion-earth"></i>
                  </p>
                </div>
                <div class="col col-80">
                  <h2 class="title">{{ proj.title }}</h2>
                  <p class="description">Initiated: {{ proj.initiation_date }}</p>
                </div>
              </div>
            </a>
        </div>
    </ion-content>
</ion-view>
