<ion-view title="H1-B" id="page4">
    <ion-content padding="true" class="has-header">
        <div style="margin-right:-20px;">
            <a ui-sref="menu.status" id="h1B-button13" style="left:-10px;border-radius:0px 0px 0px 0px;" class="button button-positive  button-full">Check Status</a>
        </div>
        <div style="margin-right:-20px;">
            <a ui-sref="menu.documents" id="h1B-button14" style="left:-10px;border-radius:0px 0px 0px 0px;" class="button button-positive  button-full">Upload Documents</a>
        </div>
        <div style="margin-right:-20px;">
            <a href="mailto:" id="h1B-button22" style="left:-10px;border-radius:0px 0px 0px 0px;" class="button button-positive  button-full">Contact</a>
        </div>
    </ion-content>
</ion-view>
