<ion-view title="Status" id="projectStatus">
    <ion-content padding="true" class="has-header">
      <div class="progressbar appstatus">
        <span class="progresscircle pc1"></span>
        <span class="progresscircle pc2"></span>
        <span class="progresscircle pc3"></span>
        <span class="progresscircle pc4"></span>
        <span class="progress" style="width: 33%"></span>
      </div>
      <div class="linkcard" ng-repeat="statusUpdate in project_status">
        <div class="progressbar" ng-switch="statusUpdate.progress">
          <span ng-switch-when="100" class="progress completed" style="width: {{statusUpdate.progress}}%"></span>
          <span ng-switch-default class="progress in-progress" style="width: {{statusUpdate.progress}}%"></span>
          <span ng-switch-when="0" class="progress not-started" style="width: {{statusUpdate.progress}}%"></span>
        </div>
        <a ui-sref="menu.status" class="button button-full">
          <div class="row row-center">
            <div class="col col-20">
              <p class="percentage" ng-switch="statusUpdate.status">
                <!-- if {{statusUpdate.status}} == "Completed" -->
                <i ng-switch-when="Completed" class="icon icon ion-checkmark-round completed"></i>
                <i ng-switch-when="In Progress" class="icon icon ion-load-b in-progress"></i>
                <i ng-switch-when="Not Started" class="icon icon ion-minus-round not-started"></i>
              </p>
            </div>
            <div class="col col-80">
              <h2 class="title">{{statusUpdate.title}}</h2>
              <p class="description">{{statusUpdate.status}}</p>
              <div ng-repeat="update in statusUpdate.update">
                <p class="description">{{update}}</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </ion-content>
</ion-view>
