<ion-view title="Status" id="status">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-avatar">Case Initiated</div>
            <div class="item item-body">
                <div id="status-markdown1" style="color:#000000;text-align:right;">
                    <p>9 APR 2015</p>
                </div>
                <div id="status-markdown2" style="color:#000000;">
                    <p>Case initiated. Awaiting return of completed questionnaires.</p>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">Preparing H1-B Petition</div>
            <div class="item item-body">
                <div id="status-markdown3" style="color:#000000;text-align:right;">
                    <p>27 APR 2015</p>
                </div>
                <div id="status-markdown4" style="color:#000000;">
                    <p>Preparing H-1B Petition.</p>
                </div>
                <div id="status-markdown5" style="color:#000000;text-align:right;">
                    <p>28 MAY 2015</p>
                </div>
                <div id="status-markdown6" style="color:#000000;">
                    <p>Sent documents to company for signatures.</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
