//
// Variables
// --------------------------------------------------


// --------------------------------------------------
// Application Color Scheme
// --------------------------------------------------

// Blue
$primary-color-0: #0091EA;
$primary-color-1: #00B0FF;
$primary-color-2: #40C4FF;
$primary-color-3: #80D8FF;
$primary-color-4: #42BCBA;

// Deep Orange
$secondary-color-0: #DD2C00;
$secondary-color-1: #FF3D00;
$secondary-color-2: #FF6E40;
$secondary-color-3: #FF9E80;

// Green
// $success-color-0: #81C784;
$success-color-0: #42BCBA;
$progress-color-0: #FFC107;

// Grey
$grey-color-0: #37474F;
$grey-color-1: #78909C;
$grey-color-2: #CFD8DC;
$grey-color-3: #ECEFF1;
$grey-color-4: #F2F6F7;

// --------------------------------------------------
// Typography
// --------------------------------------------------

$font-family-sans-serif:  "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !default;


// --------------------------------------------------
// Other
// --------------------------------------------------

$box-shadow: 0.5px 2px 2px $grey-color-2;
