//
// Variables
// --------------------------------------------------


// --------------------------------------------------
// Application Color Scheme
// --------------------------------------------------

// Blue
$primary-color-0: #2962FF;
$primary-color-1: #2979FF;
$primary-color-2: #448AFF;
$primary-color-3: #82B1FF;

// Deep Orange
$secondary-color-0: #DD2C00;
$secondary-color-1: #FF3D00;
$secondary-color-2: #FF6E40;
$secondary-color-3: #FF9E80;


// --------------------------------------------------
// Typography
// --------------------------------------------------

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
