<ion-view title="BAL Project Details" id="bal_project_details" ng-controller="balprojectdetailsCtrl">
    <ion-content padding="false" class="has-header">
      <div class="linkcard">
        <a ng-click="statusChanged()" class="button button-full">
          <div class="row row-center">
            <div class="col col-65">
              <h2 class="title">Update Project Status</h2>
              <p class="description">** Trigger Notification **</p>
            </div>
          </div>
        </a>
      </div>
      <p class="description">Documents</p>
      <div class="linkcard">
        <a ng-click="documentReceived()" class="button button-full">
          <div class="row row-center">
            <div class="col col-65">
              <h2 class="title">Diploma</h2>
              <p class="description">** Trigger Notification **</p>
            </div>
          </div>
        </a>
      </div>
      <div class="linkcard">
        <a ng-click="documentReceived()" class="button button-full">
          <div class="row row-center">
            <div class="col col-65">
              <h2 class="title">Passport</h2>
              <p class="description">** Trigger Notification **</p>
            </div>
          </div>
        </a>
      </div>
    </ion-content>
</ion-view>
